@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');

*{
   box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
   margin: 0px;
   background-color: #ccba87 ;
}

/* Navigation Bar CSS */
.navbar{
   color: #66263f;
   border-bottom: 3px solid #66263f;
   padding: 1rem;
   margin-bottom: 2rem;
}
.navbar .nav-head{
   font-size: 30px;
   font-weight: bolder;
   text-align:center;
   padding-left: 2rem;
}
.nav-head a{
   text-decoration: none;
   color: #66263f;
   float: right;
}
.nav-head i{
   font-size: 50px;
}

/* Header */
.header{
   text-align: center;
   color: #0a014f;
   font-weight: 600;
   display: block;
   margin: auto;
   width: 90%;
   max-width: 600px;
   padding-bottom: 1rem;
   font-size: 20px;
}
.img-minion{
   width: 50%;
   max-width: 400px;
   display: block;
   margin: auto;
}

/* TextArea */
#textArea{
   background-color: #ccba87;
   border: #66263f 2px solid;
   display: block;
   width: 80%;
   max-width: 600px;
   height: 20vh;
   margin: auto;
   border-radius: 20px;
   text-align: center;
   padding: 1rem;
   font-size: 15px;
}

/* Button */
.div-btn{
   text-align: center;
}
#btn-click{
   background-color: #66263f;
   color: #FFD55E;
   font-size: larger;
   font-weight: 900;
   width: 20px;
   padding: 0.5rem 2rem;
   border-radius: 20px;
   margin-bottom: 1rem;
   width: auto; 
}

/* Output */
.head-opt{
   color: #66263f;
   font-weight: 600;
   display: block;
   margin: auto;
   max-width: fit-content;
   padding-bottom: 1rem;
}
#div-opt{
   border: #66263f 3px solid;
   border-radius: 20px;
   display: block;
   width: 80%;
   max-width: 600px;
   height: 20vh;
   margin: auto;
   text-align: center;
   padding: 1rem;
   font-size: 15px;
}
